body
{
	width: 100%;
	/*background: black;*/
}

.clear 
{
	clear: both;
}

.container 
{
	content: ' ';
	width: 100%;
	height: 100vh;
	margin: auto;
	display: block;
	position: relative;
}

h3 
{
	font-family: arial;
	margin-top: 250px;
	font-size: 60pt;
	color: #c9bcb8;
	position: absolute;
	z-index: -100;
}

.easterEggs
{
	position: absolute;
	padding: 5px 20px;
	text-align: center;
	z-index: 100;
	display: none;
	top: -100px;
}

.artist
{
	max-width: 60%;
	position: absolute;
	z-index: 100;
	top: 110%;
	max-height: 70%;
	/*opacity: 0;*/
}

.artist#balloon1
{
	z-index: 103;
	left: 5%;
}

.artist#balloon2
{
	z-index: 102;
	left: 35%;
}

.artist#balloon3
{
	z-index: 101;
	left: 10%;
}